/** STYLESHEET FOR INDEX.HTML - SHOPPING PAGE **/

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#shop {
    width: 50%;
    border: 1px solid red;
    overflow: auto;
    max-height: 100vh;
}

#shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: center;
    
}

.shop-item {
    width: 40%;
    border: 1px solid lightgray;
    margin: 5px;
    
}

.shop-item:hover {
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3 );
    transition: 0.5s;
}

.shop-item img {
    width: 50%;
}

.shop-item h3, p {
    padding: 5px;
}

.shop-item button {
    margin: 5px;
    cursor: pointer;
}



/** CSS FOR SHOPPING CART SECTION **/

#cart {
    width: 50%;
    border: 1px solid red;

}

#cart-items-wrapper {
    margin: 0 auto;
    width: 90%;
    border: 1px solid blue;
    border-radius: 25px;
    text-align: center;
  
}

.cart-items {
    width: 10%;
}


#cart-items img {
    vertical-align: middle;
    margin-left: 20px;
}

#cart-items {
    list-style-type: none;
    
}

#cart-items li {
    font-size: 22px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding: 5px;

}

#cart-items-wrapper #cart-items:last-child li:last-child {
    border-bottom:none;
    
}


#cart-total-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    border: 1px solid green;
    border-radius: 10px;
    text-align: left;

}

#cart-total-wrapper img {
    margin-left: 20px;
    vertical-align: middle;

}

#cart-total {
    list-style-type: none;
}

#cart-total li {
    font-size: 22px;
}

/** REMOVE BUTTON CSS TO CHANGE POINTER ON HOVER **/

.remove-button {
    cursor: pointer;
    
}




